.cache
.fabric
.mixin.out
crash-reports
data
defaultconfigs
downloads
local
logs
moddata
mods
Orisky-natives
renders
resourcepacks
saves
screenshots
shaderpacks
xaero
XaeroWaypoints_*
command_history.txt
emi.json
options.txt
Orisky.jar
usercache.json
*.exe
